<div class="frontmatter text-center">
<h1>Introduction to Data Science and Programming</h1>
<h2>Lecture 8: Python Crash Course - Pandas</h2>
<h3>IT University of Copenhagen, Fall 2023</h3>
<h3>Instructor: Anastassia Vybornova</h3>
</div>

# Recap of Lecture 07

> shown in class: `chdir, dir, cd, python` commands (for Anaconda Prompt on Windows)

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-7btt{border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-7btt">windows</th>
    <th class="tg-7btt">macOS</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-fymr">print out the current working directory</td>
    <td class="tg-c3ow">chdir</td>
    <td class="tg-c3ow">pwd</td>
  </tr>
  <tr>
    <td class="tg-fymr">list contents of current working directory</td>
    <td class="tg-c3ow">dir</td>
    <td class="tg-c3ow">ls</td>
  </tr>
  <tr>
    <td class="tg-fymr">change directory</td>
    <td class="tg-c3ow" colspan="2">cd &lt;relative path&gt;</td>
  </tr>
  <tr>
    <td class="tg-fymr">run a python file</td>
    <td class="tg-c3ow" colspan="2">python &lt;filename.py&gt;</td>
  </tr>
</tbody>
</table>

Message from Michael: 

## Please install WSL (Ubuntu distribution)

* WSL: Windows Subsystem for Linux
* Instructions: [here](https://learn.microsoft.com/en-gb/windows/wsl/install)
* If all goes well: you "just" have to run `wsl --install` from your CLI (details see instructions)
* Why? Because then you can use a Linux shell on your Windows machine!
* We will send out more detailed instructions, and help you in the StudyLab/LiveCoding

In [ ]:
# list comprehension
[i**2 for i in range(10,20)]

In [ ]:
# list comprehension
# [expression for member in iterable if condition]
[i**2 for i in range(10,20) if i**2 > 250]

<hr>

Today you will learn:

* `seed()`ing in the random module
* (more or less) common file formats for tabular data 
* the `pandas` package ("Excel on steroids")

# A `random` fact

`random.seed()` makes "random" numbers "reproducible"

In [ ]:
# if i don't indicate any "seed", running this cell several times
# will produce a new "random" number at each time:
import random
random.choices(range(10), k = 10)

In [ ]:
# if i indicate a "seed", running this cell several times
# will produce THE SAME "random" number at each time:
import random
random.seed(42) # what you use as seed is up to you; ~"same seed > same results"
random.choices(range(10), k = 10)

# Common (?) file formats for tabular data
* `.txt` plain text file, not formatted
* `.csv` text in comma-separated values, not formatted
* `.xls`, `.xlsx` Microsoft Excel worksheets
* `.json` "JavaScript Object Specification"

# `csv`: "comma" separated values

`.csv` is often used even when the separator is not a comma, but a tab, a whitespace, a semicolon, ...

<p style="text-align:left;">
    <img src="images/csv.png" alt="csv file" width=1000px>
</p>

# `json` JavaScript Object Specification

* format understood by many programming languages (not only JavaScript!)
* can store different (tree-like) data structures, not only tables
* often used for server-web application data transfer
* data types allowed in json: numbers, strings, booleans, "arrays" (similar to lists in Python), "objects" (name-value pair collections, similar to dictionaries in Python)

<p style="text-align:left;">
    <img src="images/json.png" alt="json file" width=1000px>
</p>

# Jupyter notebook is actually  a json file, too!

<p style="text-align:left;">
    <img src="images/ipynb.png" alt="ipynb file opened with text editor" width=1000px>
</p>

# Our table of the day: Titanic passengers

[(Link to raw data)](https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv)

same data, stored in different file formats, in `data` folder

In [ ]:
# reading in tabular data in csv format - the painful way
import csv
with open("data/titanic.csv", "r") as opened_file:
    my_reader = csv.reader(opened_file)
    rows = [row for row in my_reader]
rows

In [ ]:
# reading in tabular data in json format - the painful way
import json
with open("data/titanic.json", "r") as opened_file:
    my_json = json.load(opened_file)
my_json

# Enter: `pandas`

for tabular data

* reading in data `.read_csv()`, writing data `.to_csv()`
* displaying parts of the data set `.head(), .tail()`
* displaying column and row names `.columns, .index` 
* displaying and changing column datatypes `.dtypes`, `.astype()`
* displaying summary statistics: `.describe()`
* accessing columns `[]`, rows `.loc[]`, and single values `.loc[]`
* boolean indexing by condition `[condition]`
* boolean indexing by several conditions `[(condition1) & (condition2)]`
* filtering out missing values `.isna()` or available values `.notna()`
* creating a copy `.copy()`
* adding new columns `[]`
* dropping rows and columns `.drop()`
* sorting rows by values: `.sort_values()`

In [ ]:
# import pandas with the alias "pd"
# pandas is a separate Python PACKAGE
# it doesn't "usually" come with Python
# but it is part of the Anaconda distribution
# so you SHOULD already have it on your machine
import pandas as pd

In [ ]:
# read_csv(filepath) reads in a csv from a file and returns a pandas DataFrame:
pd.read_csv("data/titanic.csv")

In [ ]:
# .read_csv() assumes that sep=","... but i can indicate a different separator:
pd.read_csv("data/titanic_semicolon.csv")

In [ ]:
# .read_csv() assumes that sep=","... 
# but i can indicate a different separator:
pd.read_csv("data/titanic_semicolon.csv", sep = ";")

In [ ]:
# let's save the pandas DataFrame into a variable, df:
df = pd.read_csv("data/titanic.csv")

In [ ]:
# now we can display the first (by default 5) rows:
df.head(3)
# if you provide an integer argument n, will display the first n rows

In [ ]:
# to display the last (by default 5) rows:
df.tail(10) # if you provide an integer argument n, will display the last n rows

In [ ]:
# length of the dataframe = number of ROWS
len(df)

In [ ]:
# the type of the variable is "pandas dataframe":
type(df)

In [ ]:
# this object (the pandas DataFrame) has ATTRIBUTES:
# characteristics accessible by .attributename
df.dtypes # .dtypes contains the data types of all columns

In [ ]:
# another attribute is .index (containing the ROW LABELS)
df.index

In [ ]:
# another attribute is .columns (containing the COLUMN LABELS)
df.columns

In [ ]:
# .shape contains the shape (nrows, ncols) of the dataframe
df.shape

# Get some summary statistics

(count, mean, std, min, max, for each column separately)

In [ ]:
df.describe()
# count: number of values (that are NOT NaN)

# Accessing specific columns in the data frame

...a little bit like indexing:

`df[]` with single column label, or with list of column labels:

#### `df[columnlabel]` 
#### `df[[col1, col2, col3]]`

In [ ]:
# access the columns separately with square brackets 
# and their column name ("label"):
df["Survived"] # returns ONLY the column "Name"

In [ ]:
# access the columns separately with square brackets 
# and their column name ("label"):
df["Age"] # returns ONLY the column "Age"

In [ ]:
# access specific columns by giving a list of column names as index: 
df[["Age", "Name", "Survived"]]

# Accessing specific rows in the data frame

`df.loc[]` with single row label (index) or with list of row labels:

#### `df.loc[rowlabel]` 
#### `df.loc[[row1,row2,row3]]`

In [ ]:
# remember, our row labels (in this case) are simply integer numbers:
df.head()

In [ ]:
# accessing rows by index: df.loc[] with index (row label) as argument
df.loc[0] # returns only first row

In [ ]:
# accessing rows by index: df.loc[] with list of indeces (row labels) as argument
df.loc[[0,1,2]] # returns first 3 rows

## Accessing specific rows AND columns in the data frame

#### `df.loc[rowlabels, columnlabels]`

In [ ]:
# row labels: first three rows; column label: "Name"
df.loc[[0,1,2], "Name"]

In [ ]:
# row labels: first three rows; column labels: "Name" & "Age"
df.loc[[0,1,2], ["Name", "Age"]]

In [ ]:
# row labels: first row; column labels: ["Name", "Sex"]
df.loc[0, ["Name", "Sex"]]

In [ ]:
# accessing one single value
df.loc[0, "Name"]

# Try it out yourself

Each of the tasks below is 1 line of code!

* Access only the column "Fare" `[]`
* Access only the columns "Fare" and "Age" `[[]]`
* Access only the rows with row labels 3, 4, and 5 `.loc[]`
* Access only the rows 3, 4, 5, and only the columns "Survived" and "Name"
* Access the name of the last passenger in the dataframe

In [ ]:
# access the column Fare
df["Fare"]

In [ ]:
# access the columns Fare and Age
df[["Fare", "Age"]]

In [ ]:
# access the rows [3,4,5]
df.loc[[3,4,5]]

In [ ]:
# access the rows [3,4,5] and the columns ["Survived", "Name"]
df.loc[[3,4,5], ["Survived", "Name"]]

In [ ]:
# access the name of the last passenger in the dataframe
df.loc[len(df)-1]

# Break until 11:15

# Deleting rows and columns with `.drop()`

In [ ]:
# remove a row: axis = 0
# df.drop(labels=3, axis=0)
# df.head()
# this removes the row with label 3

In [ ]:
# remove a column: axis = 1
df.drop(labels="Age", axis = 1)
# this removes the column "Age"

In [ ]:
# how to CHANGE the dataframe instead of changing the VIEW?
df = df.drop(labels="Age", axis = 1)
# either overwrite the variable

In [ ]:
# how to CHANGE the dataframe instead of changing the VIEW?
df.drop(labels="Name", axis = 1, inplace=True)
df.head()
# OR set inplace=True

In [ ]:
# now both "Name" and "Age" columns are removed:
df.head(3)

In [ ]:
# let's read in the data one more time, after we messed with it:
df = pd.read_csv("data/titanic.csv")

# Boolean indexing (by condition)

##### `df[columnlabel]` can be combined with comparison `> < == !=` operators
##### `df[condition]` returns only those rows where condition is True
##### `df[(condition1) & (condition2)]` returns only those rows where both conditions are True

In [ ]:
# let's see what happens if we use a comparison operator with a single column:
# returns for each row either True or False
df["Age"] > 18 # was this person over 18 on that ship?

In [ ]:
# we can use that condition to index only rows where condition is True:
my_condition = df["Age"] > 18 # who was over 18 on that ship?
df[my_condition]

In [ ]:
# a shorter (but perhaps more confusing at first) way to write this: 
# df[condition] (where condition contains a df column)
df[ df["Age"]>18 ]

In [ ]:
# filtering by several conditions:
# put each condition inside () round brackets
# combine them with & (meaning "and") or | (meaining "or")
# everyone that was over 18 AND survived 
df[ (df["Age"]>18) & (df["Survived"]==1) ]

In [ ]:
# everyone that is male and under 25
df[ (df["Sex"]=="male") & (df["Age"]<25) ]

# Filtering out missing values (NAs) with boolean conditions

* `NaN` .... "not a number" in maths and pandas
* `na` (in pandas): "not available" (includes both `NaN` and `None`)
* pandas functions: `isna()` and `notna()`

In [ ]:
df.head()
# in rows with index 0,2,4 the Cabin data is missing

In [ ]:
df["Cabin"].isna()
# returns for each row whether data is NOT AVAILABLE (True) or available (False)

In [ ]:
df["Cabin"].notna()
# returns for each row whether data is AVAILABLE (True) and not available (False)

In [ ]:
# boolean indexing to only have rows where we know the Cabin value:
# my_condition = 
# df["Cabin"].notna()
# type(my_condition)
# df[my_condition]
# or, shorter: 
# df[ df["Cabin"].notna() ]
row = df.loc[0]
row
type(row)

# Changing values in a cell

#### `df.loc[rowlabel, columnlabel] = new_value`

In [ ]:
# this will change the value in the cell of the first row, column "Name"
df.loc[0, "Name"] = "S.O.S" # assigning CHANGES the object!
df.head()

In [ ]:
# this will change the value in the cells of the first 3 rows, column "Name"
df.loc[[0,1,2], "Name"] = "Not Me Please!" # assigning CHANGES the object!
df.head()

# Creating a copy of the dataframe

If you want to manipulate a subset of the dataframe, ALWAYS use `.copy()`

In [ ]:
# until now, we have been just creating VIEWS of the data sets:
df[ df["Age"]>18 ] # this returns a VIEW of the filtered dataframe,
# NOT the dataframe itself; we CANNOT MANIPULATE this object

In [ ]:
# don't save the VIEW into a variable!!
df_adults = df[df["Age"]>18] # this gives us a VIEW of the dataframe
# because now pandas is confused:
df_adults.loc[5,"Name"] = "Rosie"
# SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame

In [ ]:
# Save a COPY of the view into a new variable:
df_adults = df[df["Age"]>18].copy() # this gives us a COPY of the dataframe
# now pandas is not confused anymore:
df_adults.loc[0,"Name"] = "Rosie"
df_adults.head()

### When working with subsets of a dataframe, use `.copy()`

# Try it out yourself!

* read in the data one more time (we messed around with the old data frame) with `pd.read_csv()`
* filter by 2 conditions: `"Sex"=="female"` and `"Age">60` (CORR: NOT 70!)
* save a COPY of the filtered data set to the variable `old_ladies`
* how many old ladies were on the Titanic? (`len()`)
* how may of the old ladies were badass ladies that survived? `"Survived"==1`
* what is the mean fare that the old ladies paid? (`.describe()`, or calculate it yourself dividing the sum of the "Fare" column by the length of the dataframe)

In [ ]:
# read in the data
df = pd.read_csv("data/titanic.csv")

In [ ]:
# filter by 2 conditions and save a COPY
old_ladies = df[ (df["Age"]>60) & (df["Sex"]=="female") ].copy()
old_ladies

In [ ]:
# number of old ladies:
len(old_ladies)

In [ ]:
# number of survived ladies:
len(old_ladies[ old_ladies["Survived"]==1 ])

In [ ]:
# compute the mean fare with .describe()...
old_ladies.describe()

In [ ]:
# ...or compute the mean fare yourself
sum(old_ladies["Fare"]) / len(old_ladies)

# Adding new columns to the dataframe

In [ ]:
# adding a new column
df["had_a_bad_trip"] = True # adds a new column, with the same value in ALL rows
df.head()

In [ ]:
# adding a new column based on another column
df["Fare_DKK"] = df["Fare"] * 900 # multiply the value in each row of "Fare" by 900
df["Fare_EUR"] = df["Fare"] * 120 # multiply the value in each row of "Fare" by 120
df.head()

# Sorting by value with `.sort_values()`

In [ ]:
df.sort_values(by = "Age") # by default: ascending

In [ ]:
# to sort by descending values: set ascending=False 
df.sort_values(by = "Age", ascending=False)

In [ ]:
# how to make your changes last (and not just affect the view):
# same as with .drop(), either overwrite the variable...
df = df.sort_values(by="Age", ascending = False)

In [ ]:
# ... or set inplace=True
df.sort_values(by = "Fare", ascending=False, inplace=True)
df.head()

In [ ]:
# df is now sorted by descending Fare:
df.head(5)

# Save to csv with `.to_csv()`

In [ ]:
# writing to a csv is as easy as reading in from as csv:
df.to_csv("data/mydf.csv")

# Recap of today: pandas!

Methods/functions for data frames (df):
* `read_csv(), .to_csv()` 
* `.head(), .tail(), .describe()`
* `.drop(), .sort_values(), .copy()`

Methods we've used for separate df columns (and also for entire df): `.astype(), .isna(), .notna()`

**Attributes** of data frames: `.index, .columns, .dtypes`

**Indexing:** `[]`, `.loc[]`

# Resources for more pandas

YouTube video course: [Pandas for Beginners](https://www.youtube.com/playlist?list=PLUaB-1hjhk8GZOuylZqLz-Qt9RIdZZMBE) by Alex the Analyst

Stefanie Molin & Ken Jee: [Hands-On Data Analysis with Pandas](https://ebookcentral.proquest.com/lib/itucopenhagen/reader.action?docID=6579305) 

Hannah Stepanek: [Thinking in pandas](https://link-springer-com.ep.ituproxy.kb.dk/book/10.1007/978-1-4842-5839-2) (see also our the "self-study resources" course page)

> ITU has free online access to many resources, log in with your credentials at [kb.dk](kb.dk)